.container{
    background: #35B6FF;
    height: 100%;
    position: fixed;
    width: 300px;
    z-index: 9999;
}

.logo{
    margin: 20px auto 40px;
    display: block;
}

.divider{
    border-top: 3px solid #FFF
}

.sidebarLink{
    color: white;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.sidebarIcon{
    margin-right: 10px;
}